<div class="header">
    <h2>Compare against</h2>
    <button type="button" class="reset" title="Reset your options"></button>
</div>
<ul class="criterias">
    <li class="checkbox trips price active blocked">
        <input type="hidden" id="check-price" value="false" />
        <div class="check"></div>
        <span class="label">Price</span>
    </li>
    <li class="checkbox trips stars active blocked">
        <input type="hidden" id="check-stars" value="false" />
        <div class="check"></div>
        <span class="label">Stars</span>
    </li>
    <li class="checkbox trips tripadvisor active blocked">
        <input type="hidden" id="check-tripadvisor" value="false" />
        <div class="check"></div>
        <span class="label">TripAdvisor Ratings</span>
    </li>
    <li class="checkbox trips distance">
        <input type="hidden" id="check_distance" />
        <div class="check"></div>
        <span class="label">Distance from downtown</span>
    </li>
</ul>
<ul class="categories-list">
    <li class="checkbox trips categories blocked" data-target="facilities-container">
        <div class="check"></div>
        <span class="label">Facilities</span>
    </li>
</ul>
<div class="facilities-container filters hidden">
    <ul class="options">
        <li class="wifi option checkbox trips unchecked"><input type="hidden" id="wifi" value="false" /><div class="check"></div><span>Wifi</span></li>
        <li class="parking option checkbox trips unchecked"><input type="hidden" id="parking" value="false" /><div class="check"></div><span>Parking</span></li>
        <li class="airport-shuttle option checkbox trips unchecked"><input type="hidden" id="airport_shuttle" value="false" /><div class="check"></div><span>Airport Shuttle</span></li>
        <li class="fitness-center option checkbox trips unchecked"><input type="hidden" id="fitness_center" value="false" /><div class="check"></div><span>Fitness Center</span></li>
        <li class="spa option checkbox trips unchecked"><input type="hidden" id="spa" value="false" /><div class="check"></div><span>Spa</span></li>
    </ul>
</div>
