<header id="main-header">
    <h1 class="title"><%= obj.name %></h1>
    <button type="button" class="close" title="Close this view"></button>
</header>
<section id="main-section">
    <div class="page loading"></div>
</section>
