<% if( obj ) { %>
<button class="previous"></button>
<div class="images">
<img src="<%=obj[0].thumbnailUrl%>" height="115" width="125" alt="hotel image" />
</div>
<button class="next"></button>
<% } %>
