<div class="header-container">
    <header role="banner" class="wrapper clearfix">
        <h1 class="logo"><img src="images/logo.png" alt="HotelsMatcher"/></h1>
    </header>
</div>

<div class="main-container">
</div>

<div class="footer-container">
</div>
