<span class="title">Go to page</span>
<ol>
<%
for( i = 1; i <=obj.numberOfPages; i++ ) {
%><li><button class="<%= obj.currentPage == i ?  "active" : ""%>"><%=i %></button></li><%
}
%>
</ol>
<div class="steps">
    <button class="step left" title="Load previous"></button>
    <button class="step right" title="Load next"></button>
</div>

