<ul class="headers column">
    <li class="header">
        Hotels
    </li>
    <li class="pin"></li>
    <li class="price"><span>Price</span></li>
    <li class="stars"><span>Stars</span></li>
    <li class="tripadvisor-reviews"><span>TripAdvisor Reviews</span></li>
    <li class="distance"><span>Distance from area</span></li>
    <li class="photos"><span>Photos</span></li>
    <li class="facilities category title"><span>Facilities</span></li>
    <li class="wifi option checkbox unchecked"><div class="check"></div><span>Wifi</span></li>
    <li class="parking option checkbox unchecked"><div class="check"></div><span>Parking</span></li>
    <li class="airport-shuttle option checkbox unchecked"><div class="check"></div><span>Airport Shuttle</span></li>
    <li class="fitness-center option checkbox unchecked"><div class="check"></div><span>Fitness Center</span></li>
    <li class="spa option checkbox unchecked"><div class="check"></div><span>Spa</span></li>
    <li class="see-all facilities"></li>
    <li></li>
</ul>
<div class="pinned-container hidden">
</div>
